<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Costumers <p class="text-center"><button class="btn btn-outline-primary" (click)="getAddCostumer()">Add Costumer</button></p></h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Name</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>Create at</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let costumer of costumers" class="text-center">
                        <td>{{ costumer.costumerid }}</td>
                        <td>{{ costumer.firstname }}&nbsp;{{ costumer.lastname }}</td>
                        <td>{{ costumer.cpf }}</td>
                        <td>{{ costumer.email }}</td>
                        <td>{{ costumer.endereco }}</td>
                        <td>{{ costumer.telefone }}</td>
                        <td>{{ costumer.create_at }}</td>
                        <td>{{ costumer.status }}</td>
                        <td><button class="btn btn-outline-info" (click)="callCostumer(costumer)">Edit</button>
                            <button class="btn btn-outline-danger" (click)="deleteCostumer(costumer)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="display:none;">
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure to delete Costumer {{ costumer.firstname }} {{ costumer.lastname }} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>